<div class="flex flex-col h-screen">
  <div class="w-full p-3 flex items-center border-b-2 border-gray-100">
    <mat-icon
      class="text-gray-400 hover:text-gray-600 cursor-pointer"
      aria-hidden="false"
      aria-label="Example home icon"
      (click)="toggleSideNav()"
      >menu</mat-icon
    >
    <img class="my-logo -translate-y-0.5" src="../assets/Logo.svg" />

    <div class="search-container">
      <button (click)="addNewSection()" class="my-4 ct-button">
        Add Section
      </button>

      <div
        class="inline-block border-r-4 border-gray-100 mx-5 h-10 translate-y-5"
      ></div>
      <input
        [(ngModel)]="searchTerm"
        (keyup)="searchForTask()"
        class="
          border-gray-100
          rounded
          border-2
          p-2
          w-60
          hover:border-orange-400
          focus:border-orange-500 focus:outline-none
        "
        type="text"
        placeholder="Search"
      />
    </div>
  </div>

  <div class="flex h-full overflow-hidden">
    <app-sidenav [toggled]="showSideNav"></app-sidenav>

    <div class="w-full h-full overflow-y-scroll">
      <div
        *ngIf="noMatches && tasksSections.length > 0"
        class="text-gray-500 text-center mt-10 text-lg"
      >
        Sorry, no matches
      </div>
      <div
        *ngIf="tasksSections.length == 0"
        class="mt-10 text-center text-gray-500"
      >
        Nothing yet.
        <span
          (click)="addNewSection()"
          class="text-orange-400 underline cursor-pointer"
        >
          Add Your First Section</span
        >
      </div>
      <div *ngFor="let section of tasksSections">
        <app-tasks-section
          *ngIf="section.showSection"
          [section]="section"
        ></app-tasks-section>
      </div>
    </div>
  </div>
</div>
