<div class="flex flex-row">
  <app-sidenav></app-sidenav>

  <div class="w-full">
    <div class="w-full p-3 flex items-center">
      <mat-icon
        class="cursor-pointer"
        aria-hidden="false"
        aria-label="Example home icon"
        >menu</mat-icon
      >
      <img class="ml-5 -translate-y-0.5" src="../assets/Logo.svg" />

      <input
        class="ml-auto border-gray-200 rounded border-2 p-2 w-60"
        type="text"
        placeholder="Search"
      />
    </div>

    <div>bottom</div>
  </div>
</div>
